<template>
  <div>
    <div class="scroll-mask"></div>
    <carousel :data="testimonies" :slideOnSwipe="false"
      :interval="5000" class="testimony text-center"></carousel>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  data() {
    return {
      testimonies: [
        {
          id: 1,
          content(createElement) {
            return createElement('div', {
              class: 'col-md-8 offset-md-2',
            }, [
              createElement('p', {
                class: 'testimony-text',
              }, ['“Maecenas at vestibulum libero, non varius mi. Etiam consectetur, magna ut volutpat fermentum, nibh lacus porta purus, condimentum suscipit felis sapien sed arcu. Donec hendrerit risus quis sem mattis euismod. Pellentesque dignissim libero nec auctor ornare, non varius mi magna ut.”']),
              createElement('span', {
                class: 'testimony-underline',
              }),
              createElement('p', {
                class: 'testimony-author',
              }, ['Jane Doe']),
              createElement('p', {
                class: 'testimony-branch',
              }, ['New York Pizza - Amsterdam']),
            ]);
          },
        },
        {
          id: 2,
          content(createElement) {
            return createElement('div', {
              class: 'col-md-8 offset-md-2',
            }, [
              createElement('p', {
                class: 'testimony-text',
              }, ['“NYP Connect helps us keep our staff, mostly young part-timers, involved in the organisation in a modern and positive way. The combination of several well-known social media in one platform is perfect to connect with the individual employee in a way they feel comfortable with and respond to.”']),
              createElement('span', {
                class: 'testimony-underline',
              }),
              createElement('p', {
                class: 'testimony-author',
              }, ['Victor Delgado']),
              createElement('p', {
                class: 'testimony-branch',
              }, ['New York Pizza - Heerenveen']),
            ]);
          },
        },
        {
          id: 3,
          content(createElement) {
            return createElement('div', {
              class: 'col-md-8 offset-md-2',
            }, [
              createElement('p', {
                class: 'testimony-text',
              }, ['“Integer ultrices gravida nisi, et aliquet est luctus ut. Donec consectetur gravida quam, sed ultricies metus ultricies at. Quisque tempus urna quam, nec tempus arcu lacinia non. Phasellus vitae tincidunt risus, aliquet facilisis nunc. Integer euismod velit ac mi cursus sodales.”']),
              createElement('span', {
                class: 'testimony-underline',
              }),
              createElement('p', {
                class: 'testimony-author',
              }, ['John Doe']),
              createElement('p', {
                class: 'testimony-branch',
              }, ['New York Pizza - Rotterdam']),
            ]);
          },
        },
      ],
    };
  },
};
</script>
<style lang="scss">
.testimony {
  align-items: center;
  background-color: transparent;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10rem;
}

.carousel {
  height: 70vh;
  max-height: 650px;
  @media screen and (max-width: 767px) {
    height: 85vh;
  }
}

.carousel__indicator {
  margin-left: 8px !important;
  margin-right: 8px !important;
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
  border: 5px solid #ffffff;
  background-size: cover !important;
  opacity: 1 !important;
  margin-bottom: -50px !important;

  &:first-child {
    background: url(../assets/testimony1.jpg);
  }

  &:nth-child(2) {
    background: url(../assets/testimony2.jpg);
  }

  &:nth-child(3) {
    background: url(../assets/testimony3.jpg);
  }

  @media screen and (max-width: 767px) {
    height: 80px !important;
    width: 80px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    margin-bottom: -40px !important;
  }
}

.carousel__indicator::before {
  background-color: transparent !important;
}

.carousel__indicator--active::before {
  height: 20px !important;
  width: 20px !important;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background: Red !important;
  right: -8px;
  bottom: -5px;
  left: auto !important;
  top: auto !important;

  @media screen and (max-width: 767px) {
    right: -13px;
    bottom: -10px;
  }
}

p {
  &.testimony-text {
    font-size: 22px;
    font-family: merriweather, serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 50px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &.testimony-author {
    font-size: 18px;
    margin-top: -10px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &.testimony-branch {
    font-size: 15px;
    margin-top: -15px;

    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }
}

span {
  &.testimony-underline {
    display: block;
    background: #ffffff;
    height: 4px;
    width: 70px;
    margin: 20px auto 30px auto;

    @media screen and (max-width: 767px) {
      width: 50px;
    }
  }
}

.scroll-mask {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 65px;
  right: 65px;
  z-index: 10;
}
</style>
