
<template>
  <canvas :id="_uid"></canvas>
</template>

<script>
/* eslint-disable */
// Disable because of the plugin code below

import Chart from 'chart.js';

export default {
  name: 'DonutGraph',
  data() {
    return {
      config: {
        type: 'doughnut',
        data: {
          labels: [
            'Red',
            'Gray',
          ],
          datasets: [{
            data: [this.chartValue, 100],
            backgroundColor: [
              '#1c9a4d',
              '#eaeaea',
            ],
            hoverBackgroundColor: [
              '#1c9a4d',
              '#eaeaea',
            ],
          }],
        },
        options: {
          backgroundColor: 'rgba(100, 100, 100, 1)',
          cutoutPercentage: this.thickness,
          events: [],
          legend: {
            display: false,
          },
          tooltips: {
            enabled: false,
          },
          elements: {
            arc: {
              roundedCornersFor: 0,
            },
          },
        },
      },
    };
  },
  props: ['chartValue', 'thickness'],
  mounted() {
    // round corners
    Chart.pluginService.register({
      afterUpdate: function (chart) {
        if (chart.config.options.elements.arc.roundedCornersFor !== undefined) {
          var arc = chart.getDatasetMeta(0).data[
            chart.config.options.elements.arc.roundedCornersFor
          ];
          arc.round = {   
            x: (chart.chartArea.left + chart.chartArea.right) / 2,
            y: (chart.chartArea.top + chart.chartArea.bottom) / 2,
            radius: (chart.outerRadius + chart.innerRadius) / 2,
            thickness: (chart.outerRadius - chart.innerRadius) / 2 - 1,
            backgroundColor: arc._model.backgroundColor,
          }
        }
      },
      afterDraw: function (chart) {
        if (chart.config.options.elements.arc.roundedCornersFor !== undefined) {
          var ctx = chart.chart.ctx;
          var arc = chart.getDatasetMeta(0).data[
            chart.config.options.elements.arc.roundedCornersFor
          ];
          var startAngle = Math.PI / 2 - arc._view.startAngle;
          var endAngle = Math.PI / 2 - arc._view.endAngle;
          ctx.save();
          ctx.translate(arc.round.x, arc.round.y);
          ctx.fillStyle = arc.round.backgroundColor;
          ctx.beginPath();
          ctx.arc(arc.round.radius * Math.sin(startAngle), arc.round.radius * Math.cos(startAngle), arc.round.thickness, 0, 2 * Math.PI);
          ctx.arc(arc.round.radius * Math.sin(endAngle), arc.round.radius * Math.cos(endAngle), arc.round.thickness, 0, 2 * Math.PI);
          ctx.closePath();
          ctx.fill();
          ctx.restore();
        }
      },
    });

    // write text plugin
    Chart.pluginService.register({
      afterUpdate: function (chart) {
        if (chart.config.options.elements.center) {
          var helpers = Chart.helpers;
          var centerConfig = chart.config.options.elements.center;
          var globalConfig = Chart.defaults.global;
          var ctx = chart.chart.ctx;
          var fontStyle = helpers.getValueOrDefault(centerConfig.fontStyle, globalConfig.defaultFontStyle);
          var fontFamily = helpers.getValueOrDefault(centerConfig.fontFamily, globalConfig.defaultFontFamily);
          if (centerConfig.fontSize)
              var fontSize = centerConfig.fontSize;
              // figure out the best font size, if one is not specified
          else {
            ctx.save();
            var fontSize = helpers.getValueOrDefault(centerConfig.minFontSize, 1);
            var maxFontSize = helpers.getValueOrDefault(centerConfig.maxFontSize, 256);
            var maxText = helpers.getValueOrDefault(centerConfig.maxText, centerConfig.text);
            do {
              ctx.font = helpers.fontString(fontSize, fontStyle, fontFamily);
              var textWidth = ctx.measureText(maxText).width;
              // check if it fits, is within configured limits and that we are not simply toggling back and forth
              if (textWidth < chart.innerRadius * 2 && fontSize < maxFontSize)
                fontSize += 1;
              else {
                // reverse last step
                fontSize -= 1;
                break;
              }
            } while (true)
            ctx.restore();
          }
          // save properties
          chart.center = {
            font: helpers.fontString(fontSize, fontStyle, fontFamily),
            fillStyle: helpers.getValueOrDefault(centerConfig.fontColor, globalConfig.defaultFontColor)
          };
        }
      },
      afterDraw: function (chart) {
        if (chart.center) {
          const centerConfig = chart.config.options.elements.center;
          const ctx = chart.chart.ctx;
          ctx.save();
          ctx.font = chart.center.font;
          ctx.fillStyle = chart.center.fillStyle;
          ctx.textAlign = 'center';
          ctx.textBaseline = 'middle';
          const centerX = (chart.chartArea.left + chart.chartArea.right) / 2;
          const centerY = (chart.chartArea.top + chart.chartArea.bottom) / 2;
          ctx.fillText(centerConfig.text, centerX, centerY);
          ctx.restore();
        }
      },
    });

    // eslint-disable-next-line no-underscore-dangle
    const ctx = document.getElementById(this._uid).getContext('2d');
    // eslint-disable-next-line no-new
    new Chart(ctx, this.config);
  },
};
</script>
<style lang="scss">

</style>
