<template>
  <div class="container" :id="_uid">
    <div class="row">
      <div class="col-md-4 d-md-none graph">
        <h4><span>+</span>&nbsp;31%</h4>
        <div class="doughnut">
          <DonutGraph v-if="isGraphContainerInViewport" chartValue="31" thickness="65" />
        </div>
        <p>Increase communication between management and employees</p>
      </div>
      <div class="col-4 d-none d-md-block graph">
        <h4><span>+</span>&nbsp;31%</h4>
        <div class="doughnut">
          <DonutGraph v-if="isGraphContainerInViewport" chartValue="31" thickness="55" />
        </div>
        <p>Increase communication between management and employees</p>
      </div>
      <div class="col-md-4 d-md-none graph">
        <h4><span>+</span>&nbsp;39%</h4>
        <div class="doughnut">
          <DonutGraph v-if="isGraphContainerInViewport" chartValue="39" thickness="65" />
        </div>
        <p>Higher cut through of company news and updates</p>
      </div>
      <div class="col-4 d-none d-md-block graph">
        <h4 class="title-horizontal"><span>+</span>&nbsp;39%</h4>
        <div class="bar-chart horizontal">
          <div class="graph-cont">
            <div class="bar bar1" v-if="isGraphContainerInViewport"></div>
            <div class="bar bar2" v-if="isGraphContainerInViewport"></div>
            <div class="bar bar3" v-if="isGraphContainerInViewport"></div>
            <div class="bar bar4" v-if="isGraphContainerInViewport"></div>
          </div>
        </div>
        <p>Higher cut through of company news and updates</p>
      </div>
      <div class="col-md-4 d-md-none graph">
        <h4><span>+</span>&nbsp;30%</h4>
        <div class="doughnut">
          <DonutGraph v-if="isGraphContainerInViewport" chartValue="30" thickness="65" />
        </div>
        <p>More information being shared between colleagues</p>
      </div>
      <div class="col-4 d-none d-md-block graph">
        <h4 class="title-vertical"><span>+</span>&nbsp;30%</h4>
        <div class="bar-chart vertical">
          <div class="graph-cont">
            <div class="bar bar5" v-if="isGraphContainerInViewport"></div>
            <div class="bar bar6" v-if="isGraphContainerInViewport"></div>
            <div class="bar bar7" v-if="isGraphContainerInViewport"></div>
            <div class="bar bar8" v-if="isGraphContainerInViewport"></div>
            <div class="bar bar9" v-if="isGraphContainerInViewport"></div>
          </div>
        </div>
        <p class="text-vertical">More information being shared between colleagues</p>
      </div>
    </div>
  </div>
</template>

<script>
import DonutGraph from './DonutGraph';

export default {
  name: 'Graphs',
  components: {
    DonutGraph,
  },
  data() {
    return {
      isGraphContainerInViewport: false,
    };
  },
  mounted() {
    // eslint-disable-next-line prefer-arrow-callback
    window.addEventListener('scroll', function animateGraphs() {
      // eslint-disable-next-line no-underscore-dangle
      const container = document.getElementById(this._uid);
      this.isGraphContainerInViewport = this.elementInViewport(container);
    }.bind(this));
  },
  methods: {
    elementInViewport(el) {
      let top = el.offsetTop;
      let left = el.offsetLeft;
      const width = el.offsetWidth;
      const height = el.offsetHeight;

      while (el.offsetParent) {
        // eslint-disable-next-line no-param-reassign
        el = el.offsetParent;
        top += el.offsetTop;
        left += el.offsetLeft;
      }

      return (
        top >= window.pageYOffset &&
        left >= window.pageXOffset &&
        (top + height) <= (window.pageYOffset + window.innerHeight) &&
        (left + width) <= (window.pageXOffset + window.innerWidth)
      );
    },
  },
};
</script>
<style lang="scss">
.graph {
  max-height: 350px;
}

.bar-chart {
  height: 138px;
  margin-bottom: 20px;
  padding-top: 25px;

  @media screen and (min-width: 768px) and (max-width: 991px){
    height: 178px;
  }

  @media screen and (max-width: 767px) {
    height: calc(177px * 0.75);
  }

  &.horizontal {
    @media screen and (min-width: 768px) and (max-width: 991px){
      margin-top: 50px;
      margin-bottom: -30px;
      margin-left: 25px;
    }

    .graph-cont {
      width: calc(100% - 40px);
      width: 100%;
      max-width: 800px;
    }

    .bar {
      height: 20px;
      max-width: 800px;
      margin: 0 auto 8px auto;
      line-height: 30px;
      padding: 0 0 0 10px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 15px;
        top: 0;
        z-index: -2;
        background: #eaeaea;
        border-radius: 50px;
      }

      &::after {
        content: '';
        background: #1c9a4d;
        height: 14px;
        transition: 0.7s;
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 50px;
      }
    }

    .bar1::after {
      animation: bar-before1 1 .5s;
    }

    .bar2::after {
      animation: bar-before2 1 .5s;
    }

    .bar3::after {
      animation: bar-before3 1 .5s;
    }

    .bar4::after {
      animation: bar-before4 1 .5s;
    }

    .bar1::after, .bar1::before {
      width: 100px;
    }

    .bar2::after, .bar2::before {
      width: 85px;
    }

    .bar3::after, .bar3::before {
      width: 100px;
    }

    .bar4::after, .bar4::before {
      width: 125px;
    }

    @keyframes bar-before1 {
      0%{
        width: 0px;
      }
      100%{
        width: 100px;
      }
    }

    @keyframes bar-before2 {
      0%{
        width: 0px;
      }
      100%{
        width: 85px;
      }
    }

    @keyframes bar-before3 {
      0%{
        width: 0px;
      }
      100%{
        width: 100px;
      }
    }

    @keyframes bar-before4 {
      0%{
        width: 0px;
      }
      100%{
        width: 125px;
      }
    }
  }

  &.vertical {
    margin-bottom: 40px;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 40px;

    @media screen and (min-width: 768px) and (max-width: 991px){
      left: 25px;
      top: 40px;
    }

    .graph-cont {
      width: calc(100% - 40px);
      width: 100%;
      max-width: 800px;
    }

    .bar {
      width: 20px;
      max-width: 800px;
      line-height: 30px;
      padding: 0 0 0 10px;
      position: relative;
      display: inline-block;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 15px;
        top: 0;
        z-index: -2;
        background: #eaeaea;
        border-radius: 50px;
      }

      &::after {
        content: '';
        background: #1c9a4d;
        width: 14px;
        transition: 0.7s;
        display: block;
        height: 100%;
        animation: bar-before 1 1.8s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 50px;
      }
    }

    .bar5::after {
      animation: bar-before5 1 .5s;
    }

    .bar6::after {
      animation: bar-before6 1 .5s;
    }

    .bar7::after {
      animation: bar-before7 1 .5s;
    }

    .bar8::after {
      animation: bar-before8 1 .5s;
    }

    .bar9::after {
      animation: bar-before9 1 .5s;
    }

    .bar5::after, .bar5::before {
      height: 120px;
    }

    .bar6::after, .bar6::before {
      height: 100px;
    }

    .bar7::after, .bar7::before {
      height: 80px;
    }

    .bar8::after, .bar8::before {
      height: 65px;
    }

    .bar9::after, .bar9::before {
      height: 50px;
    }

    @keyframes bar-before5 {
      0%{
        height: 0px;
      }
      100%{
        height: 120px;
      }
    }

    @keyframes bar-before6 {
      0%{
        height: 0px;
      }
      100%{
        height: 100px;
      }
    }

    @keyframes bar-before7 {
      0%{
        height: 0px;
      }
      100%{
        height: 80px;
      }
    }

    @keyframes bar-before8 {
      0%{
        height: 0px;
      }
      100%{
        height: 65px;
      }
    }

    @keyframes bar-before9 {
      0%{
        height: 0px;
      }
      100%{
        height: 50px;
      }
    }
  }
}

.text-vertical {
  position: absolute;
  top: 157px;
  left: 0;

  @media screen and (min-width: 768px) and (max-width: 991px){
    top: 197px;
  }
}

.title-horizontal {
  @media screen and (min-width: 768px) and (max-width: 991px){
    top: 0px !important;
    left: 40px !important;
  }
}

.title-vertical {
  top: 50px !important;

  @media screen and (min-width: 768px) and (max-width: 991px){
    top: 0px !important;
    left: 30px !important;
  }
}

</style>
