<template>
  <div>
    <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col logo">
            <img src="../assets/logo.svg">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h1>The internal communication app for <span class="underline">
              New&nbsp;York&nbsp;Pizza</span></h1>
            <p>NYP Connect is a private and secure social platform that
            enables you to easily and quickly reach all employees.
            NYP Connect is always available: in the restaurant, at the
            head office and from home. The NYP Connect app is a must-have
            for all your internal communication needs.</p>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="row">
              <div class="col-lg-10 offset-lg-2">
                <SignUpForm/>
              </div>
            </div>
          </div>
          <div class="col d-lg-none mbl-btn">
            <SignUpButton v-on:click="showModal = true" />
          </div>
        </div>
      </div>
    </div>
    <div class="benefit">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>The benefits</h2>
            <span class="underline"></span>
            <ul>
              <li><span class="fa-li" >
                <i class="fas fa-check"></i></span>
                <span class="bg-check"></span>
                Reach all employees</li>
              <li><span class="fa-li" >
                <i class="fas fa-check"></i></span>
                <span class="bg-check"></span>
                Motivate and inspire employees</li>
              <li><span class="fa-li" >
                <i class="fas fa-check"></i></span>
                <span class="bg-check"></span>
                Increase employee engagement</li>
              <li><span class="fa-li" >
                <i class="fas fa-check"></i></span>
                <span class="bg-check"></span>
                Reduce staff turnover</li>
              <li><span class="fa-li" >
                <i class="fas fa-check"></i></span>
                <span class="bg-check"></span>
                Communicate at lightning speed</li>
              <li><span class="fa-li" >
                <i class="fas fa-check"></i></span>
                <span class="bg-check"></span>
                Do it all from one application</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="graphs">
      <div class="container">
        <div class="row d-none d-lg-block">
          <div class="col text-center">
            <h3>Some stats to warm you up</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <Graphs/>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col">
            <Carousel/>
          </div>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h3>Replace non-compliant communication tools</h3>
            <h2>All-in-one solution</h2>
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <img src="../assets/product.jpg" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="wave-header"></div>
      <div class="footer-content">
        <div class="container text-center">
          <div class="row cta">
            <div class="col-10 offset-1 col-lg-6 offset-lg-3">
              <h2>Start optimizing your internal communication!</h2>
              <p>What are you waiting for? Request a free demo and
                experience the benefits for your franchise.</p>
              <SignUpButton v-on:click="showModal = true" />
            </div>
          </div>
          <div class="row created-by">
            <div class="col">
              <small>NYP Connect is a <a href="">Speakap</a> product</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="showModal" v-on:close="showModal = false" />
  </div>
</template>

<script>
import SignUpForm from './SignUpForm';
import Graphs from './Graphs';
import Carousel from './Carousel';
import SignUpButton from './SignUpButton';
import Modal from './Modal';

export default {
  name: 'Landing',
  components: {
    SignUpForm,
    Graphs,
    Carousel,
    SignUpButton,
    Modal,
  },
  data() {
    return {
      showModal: false,
    };
  },
};
</script>

<style lang="scss">
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

.hero {
  height: 90vh;
  background: url(../assets/background-hero.jpg);
  background-size: cover;
  background-position: bottom center;
  padding-top: 50px;
  max-height: 650px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 95vh;
  }

  @media screen and (max-width: 767px) {
    background: url(../assets/background-hero-mobile.jpg);
    background-size: cover;
    background-position: bottom center;
    padding-top: 10px;
  }

  @media screen and (max-width: 320px) {
    height: 100vh;
  }

  h1 {
    margin-bottom: 35px;
  }

  span {
    &.underline {
      border-bottom: 4px solid #ffffff;
    }
  }

  .logo {
    margin-bottom: 70px;

    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
    }

    img {
      @media screen and (max-width: 767px) {
        max-width: 110px;
      }
    }
  }

  .mbl-btn {
    .btn {
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

.benefit {
  padding-top: 50px;

  .container {
    padding-bottom: 70px;
    box-shadow: 0px 24px 3px -24px #d8d8d8;

      @media screen and (max-width: 767px) {
        padding-bottom: 30px;
    }
  }

  span {
    &.underline {
      display: block;
      background: #d6312d;
      height: 4px;
      width: 70px;
      margin-top: 20px;
      margin-bottom: 30px;

      @media screen and (max-width: 767px) {
        width: 50px;
      }
    }
  }

  ul {
    padding-left: 20px;
    list-style: none;
  }

  li {
    margin-bottom: 15px;
    margin-left: 30px;

    .fa-li {
      left: 0;
      color: #15793d;
      font-size: 12px;
    }

    i {
      background: #dafee9;
      border-radius: 50%;
      padding: 7px 6px 5px 6px;
      margin-top: 1px;
      margin-left: 15px;
    }
  }
}

.graphs {
  padding-top: 50px;
  padding-bottom: 100px;

  @media screen and (max-width: 767px) {
    padding-bottom: 50px;
  }


  h3 {
    margin-bottom: 70px;
  }

  h4 {
    position: absolute;
    top: 45px;
    font-size: 34px;
    left: 160px;
    font-style: normal;

    @media screen and (min-width: 768px) and (max-width: 991px){
      left: 55px;
      top: 70px;
    }

    @media screen and (max-width: 767px) {
      top: 52px;
      left: 40px;
      font-size: 24px;
    }

    span {
      color: #d6312d;
    }
  }

  p {
    color: #888888 !important;
    width: 100%;

    @media screen and (min-width: 361px) and (max-width: 767px) {
      width: 50%;
      position: absolute;
      right: 0;
      top: 15px;
    }

    @media screen and (max-width: 360px) {
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .doughnut {
    height: 138px;
    width: 276px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) and (max-width: 991px){
      height: 178px;
      width: 356px;
    }

    @media screen and (max-width: 767px) {
      height: calc(177px * 0.75);
      width: calc(354px * 0.75);
    }
  }

  canvas {
    margin-left: -80px;
    margin-bottom: 20px;
    height: 138px !important;
    width: 276px !important;

    @media screen and (min-width: 768px) and (max-width: 991px){
      height: 178px !important;
      width: 356px !important;
      margin-left: -90px;
    }

    @media screen and (max-width: 767px) {
      margin-left: -75px;
      height: calc(177px * 0.75) !important;
      width: calc(354px * 0.75) !important;
      margin-bottom: 20px;
    }
  }
}

.testimonials {
  height: 70vh;
  background: url(../assets/background-testimonials.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  max-height: 650px;

  @media screen and (max-width: 767px) {
    background: url(../assets/background-testimonials-mobile.jpg);
    background-size: cover;
    height: 85vh;
  }
}

.product {
  padding-top: 150px;

  @media screen and (max-width: 767px) {
    padding-top: 100px;
  }

  h3 {
    @media screen and (max-width: 767px) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.footer {
  padding-top: 50px;

  .cta {
    box-shadow: 0px 24px 3px -24px #d8d8d8;
  }

  .created-by {
    padding-top: 30px;
  }

  .wave-header {
    height: 95px;
    background: url(../assets/background-footer.jpg);

    @media screen and (max-width: 767px) {
      background: url(../assets/background-footer-mobile.jpg);
      background-size: cover;
    }
  }

  .footer-content {
    background: #f6fafd;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  h2 {
    margin-bottom: 25px;
  }

  p {
    color: #888888;
    display: block;
    margin-bottom: 25px;
  }

  small {
    a {
      text-decoration: underline;
      color: #888888;
    }
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

</style>
