<template>
  <div class="modal-mask">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-right">
            <button type="button" class="btn btn-default modal-close"
              data-dismiss="modal" v-on:click="onModalClose">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <SignUpForm/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SignUpForm from './SignUpForm';

export default {
  name: 'Modal',
  components: {
    SignUpForm,
  },
  methods: {
    onModalClose() {
      this.$emit('close');
    },
  },
};
</script>
<style lang="scss">
.modal-dialog {
  margin: 1.2rem auto !important;
  overflow-y: initial !important;

  @media screen and (max-width: 767px) {
    margin: 1.2rem !important;
  }
}

.modal-body {
  height: 95vh;
  overflow-y: auto;
  background: #ffffff;
  border-radius: 10px;
  max-height: 800px;

  .modal-close {
    padding: 0 !important;
    margin-top: -12px;
    color: #aaaaaa;
  }

  .sign-up-form {
    box-shadow: none;
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
</style>
