<template>
  <div>
    <button class="btn" v-on:click="onClick">Sign up for a free demo</button>
  </div>
</template>

<script>
export default {
  name: 'SignUpButton',
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>
<style lang="scss" scoped>
.btn {
  background: #d6312d;
  padding: 8px 28px;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 70px;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}
</style>
