<template>
  <div class="sign-up-form">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="text-center">Sign up now!</h4>
          <p class="text-center">Optimize your internal communication</p>
          <form>
            <div class="group">
              <input type="text" required
                id="name" name="name" v-validate="'required'">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Name</label>
              <small class="form-error text-danger">
                {{ errors.first('name') }}</small>
            </div>
            <div class="group">
              <input type="text" required
                id="email" name="email" v-validate="'required|email'">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email address</label>
              <small class="form-error text-danger">
                {{ errors.first('email') }}</small>
            </div>
            <div class="group">
              <input type="text" required
                id="jobTitle" name="job title" v-validate="'required'">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Job title</label>
              <small class="form-error text-danger">
                {{ errors.first('job title') }}</small>
            </div>
            <div class="group">
              <input type="text" required
                id="location" name="location" v-validate="'required'">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Franchise location</label>
              <small class="form-error text-danger">
                {{ errors.first('location') }}</small>
            </div>
            <div class="group">
              <input class="agreement-input" type="checkbox"
                id="agreement" name="checkbox" v-validate="'required'">
              <label class="agreement-label" for="agreement">
                I agree to receive communication from Speakap<br>
                <small class="form-error text-danger">
                  {{ errors.first('checkbox') }}</small>
              </label>
            </div>
            <p>Speakapp is 100% commited to respecting and protecting your privacy
              as the precious treasure trove that it is, and we picky-swear to only
              use your personal information to administer your account and to provide
              the products and services you requested from us. Cross our hearts.
              Scout's honour.</p>
            <SignUpButton v-on:click="onSignupButtonClick" />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SignUpButton from './SignUpButton';

export default {
  name: 'SignUpForm',
  components: {
    SignUpButton,
  },
  methods: {
    onSignupButtonClick() {
      this.$validator.validate();
    },
  },
};
</script>
<style lang="scss">
.sign-up-form {
  background: #ffffff;
  border-radius: 5px;
  padding: 0 30px;
  box-shadow: 0px 10px 71px 4px rgba(170,170,170,0.36);

  @media screen and (max-width: 991px) {
    box-shadow: none;
    padding: 0;
  }

  p, label {
    color: #aaaaaa;
    font-size: 13px;
  }

  label {
    &.agreement-label {
      color: #aaaaaa;
      margin-left: 25px;
      margin-top: 7px;

      small {
        font-size: 100% !important;
        position: static;
      }
    }
  }

  input[type=checkbox] {
    width: auto;
  }

  input {
    &.agreement-input {
      margin-top: 30px;
    }
  }

  h4 {
    width: 100px;
    margin: 55px auto 8px auto;
    transform: rotate(-4deg);

    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
  }

  .btn {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px !important;
  }

  .text-danger {
    position: absolute;
    bottom: -20px;
  }
}
.group {
  position: relative;
  margin-bottom: 25px;

  &:first-child {
    margin-top: 30px;
  }

  &:nth-child(5) {
    margin-bottom: 40px;
  }
}

input {
  font-size: 15px;
  padding: 7px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #b6b6b6;
  color: #888888;
}

input:focus {
  outline: none;
}

input:invalid {
  box-shadow: none !important;
  outline: none !important;
}

label {
  color: #b6b6b6;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label    {
  top: -10px;
  font-size: 12px;
  color: #999;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #999;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #b6b6b6;
  }

  to {
    width: 0;
    background: transparent;
  }
}
</style>
