<template>
  <div id="app">
    <Landing/>
  </div>
</template>

<script>
import Landing from './components/Landing';

export default {
  name: 'App',
  components: {
    Landing,
  },
};
</script>

<style lang="scss">
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://use.typekit.net/pel0ojb.css');

h1 {
    font-size: 38px;
    color: #ffffff;
    font-family: lato, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        font-size: 26px;
    }
}

h2 {
    font-size: 32px;
    color: #4d4d4d;
    font-family: lato, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        font-size: 22px;
    }
}

h3 {
    font-size: 14px;
    color: #b6b6b6;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        font-size: 13px;
    }
}

h4 {
    font-size: 24px;
    color: #4d4d4d;
    font-family: lato, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}

p {
    font-size: 17px;
    color: #ffffff;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    font-size: 17px;
    color: #888888;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
}

small {
    color: #888888;
}
</style>
